.sb-slidebar {
  background: #34495E !important; }

.sb-left .sb-menu {
  list-style-type: none; }
  .sb-left .sb-menu li {
    width: 100%;
    padding: 0;
    margin: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
    .sb-left .sb-menu li:first-child {
      border-top: none;
      text-align: center; }
    .sb-left .sb-menu li:last-child {
      border-bottom: none; }
    .sb-left .sb-menu li img {
      width: 100px;
      padding: 10px; }
    .sb-left .sb-menu li a {
      width: 100%;
      display: inline-block;
      padding: 1em;
      color: #FFFFFF;
      border-left: 3px solid transparent;
      text-decoration: none;
      background: transparent; }
      .sb-left .sb-menu li a:hover {
        color: #E67E22;
        border-left: 3px solid; }


.color_primario {
  background: #1A5276;
}

button.color_primario:hover {
  background: #1F618D;
}

.margen-top {
 margin-top:30px;
}

.contenedor{
 margin: 0 auto;
 display: flex;
 flex-direction: row;
 flex-wrap: no-wrap;
 justify-content: center;
 align-items: stretch;
}

.elemento{
 width: 33%;
 margin: 0 10px;
}

.elemento h6{
 font-size: 20px;
}

.texto-vertical-1 {
    writing-mode: vertical-lr;
}
.texto-vertical-2 {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.texto-vertical-3 {
  width:20px;
  word-wrap: break-word;
  text-align:center;
  line-height:20px;
}

.cuadrito{
  border-width:2px; 
  border-style:solid;
  border-color: white;
}

.cuadrito-oculto{
    border-style:hidden;
}